h1{
  text-align: center;
  color: aliceblue ;
  background-color: lightslategray;
  padding: 50px;
  font-size: 50px;
}
h2{
  color: dimgray ;
  background-color: silver;
  padding: 5px;
  font-size: 25px;
}
footer{
  text-align: center;
  padding: 3px;
  background-color: lightslategray;
  color: white;
}
li{

  color: dimgray ;
}
table{
  
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}