*{
    font-size: 500;   
    background: black;
}

:root{
    --neon-color: #8B008B;
    --neon-color2: #b0290e;
    --neon-color3: #1d81bf;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-shadow: 
        0px 0px 2px #FFF,
        0 0 4px white,
        0 0 6px white,
        0 0 15px var(--neon-color),
        0 0 23px var(--neon-color),
        0 0 36px var(--neon-color),
        0 0 42px var(--neon-color),
        0 0 67px var(--neon-color);
        animation: pulsate 1.5s infinite alternate;    
}


#tictactoe table {
    margin: 0 auto;
    border-collapse: collapse;
}


#tictactoe td {
    font-size: 24px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    cursor: pointer;

}

#title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 
        0 0 2px #FFF,
        0 0 4px white,
        0 0 6px white,
        0 0 15px var(--neon-color),
        0 0 23px var(--neon-color),
        0 0 36px var(--neon-color),
        0 0 42px var(--neon-color),
        0 0 67px var(--neon-color);
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate{
    0%{
        text-shadow: 
        0 0 2px #FFF,
        0 0 4px white,
        0 0 6px white,
        0 0 15px var(--neon-color),
        0 0 23px var(--neon-color),
        0 0 36px var(--neon-color),
        0 0 42px var(--neon-color),
        0 0 67px var(--neon-color);
    }
    0%{
        text-shadow: 
        0 0 5px #FFF,
        0 0 9px white,
        0 0 18px white,
        0 0 36px var(--neon-color),
        0 0 49px var(--neon-color),
        0 0 65px var(--neon-color),
        0 0 89px var(--neon-color),
        0 0 140px var(--neon-color);
    }
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 105, 216, 0.377);
    z-index: 1000;
    
}

.popup-content {
    background-color: #000000;
    padding: 50px;
    width: 80px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    color: white;
}

#newgame {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
}